body
{
  background-color: rgb(76,192,187);
}

.Name
{
  text-align: center;
  margin-top: 360px;
  color: navy;
}

.Old
{
  text-align: center;
}

nav ul
{
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: red;
}

nav li
{
  text-align: center;
  display: inline-block;
  margin: 20px;
}
