*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body
{
  font-family: 'Open Sans', sans-serif;
}

.home
{
  background-image: url("../images/ProjectUmbra_002.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.projects
{
  background: white;
}

header
{
  display: flex;
  width: 100%;
  height: 12vh;
  margin: auto;
  align-items: center;
}

nav
{
  flex: 1;
}

.nav-links
{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link-main
{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 32px;
  text-decoration: none;
}

.nav-link
{
  color: black;
  font-size: 32px;
  text-decoration: none;
}

.presentation
{
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction
{
  flex: 1;
}

.intro-text
{
  font-size: 48px;
  font-weight: 600;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.project-1
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

@media screen and (max-width: 1080px)
{
  .nav-link
  {
    font-size: 26px;
  }
  .presentation
  {
    margin: auto;
    flex-direction: column;
  }
  .introduction
  {
    margin-top: 30vh;
  }
  .intro-text h1 
  {
    font-size: 24px;
  }
  .intro-text p
  {
    font-size: 18px;
  }

}

