*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body
{
  font-family: 'Asap', sans-serif;
}

header
{
  display: flex;
  width: 90%;
  height: 12vh;
  margin: auto;
  align-items: center;
}

nav
{
  background: lightgreen;
  flex: 1.5;
}

.nav-links
{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link
{
  color: black;
  font-size: 32px;
  text-decoration: none;
}