*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body
{
  font-family: 'Asap', sans-serif;
}

header
{
  display: flex;
  width: 90%;
  margin: auto;
}

.logo-container
{
  background: lightblue;
  flex: 1;
}

nav
{
  background: lightgreen;
  flex: 1.5;
}